* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.container {
   width: 90.25vw;
   height: 90vh;
   margin: 0 auto;
   border: 1px solid black;
   margin-top: 1rem;
   display: flex;
   flex-wrap: wrap;
}

.grid-item {
   width: 2.8125vw;
   height: 2.8125vh;
   border: 1px solid black;
}

#button {
   width: 100px;
   margin: 0 auto;
   padding: 10px;
   border: 1px solid black;
   display: block;
   border-radius: 50px;
   margin-top: 1rem;
}